* {
    font-family: "helvetica", "arial", "sans-serif";
}

body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-image: url(../IMAGES/header.png);
    border: 1px solid #ccc7c8;
    margin-bottom: 2px;
    height: 100px;
    position: relative;
}

.icon-home {
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    border: 1px solid #fff;
    padding: 2px 4px 2px 4px;
    margin: 3px;
    color: #ed4190;
    background-color: #ffffff80;
    border-radius: 5px;
    font-size: 17px;
    height: 20px;
    box-shadow: 0px 0px 3px 0px #00000066, 0px 0px 2px 0px #0000004d;
}

nav {
    margin-top: 20px;
    display: flex;
    width: 100%;
}

.nav-link {
    flex-grow: 0.5;
    text-align: center;
}

.nav-search-order {
    flex-grow: 40;
    text-align: end;
    width: 26px;
}

.nav-search-order input {
    margin-right: -5px;
    width: 150px;
}

.nav-search-order button {
    height: 21px;
    min-width: 30px;
    color: #fff;
    background-color: #cddc39;
    border: none;
    cursor: pointer;
}

.nav-search-order button:hover {
    color: #ed4190;
}

.nav-link:hover {
    color: #fff;
    background-color: #ed4190;
}

.img1 {
    height: 100px;
    top: -30px;
    position: absolute;
    animation: img1 ease 3s infinite;
}

.img2 {
    height: 70px;
    top: -5px;
    position: absolute;
    animation: img2 ease 3s infinite;
}

.img3 {
    height: 80px;
    top: 0px;
    position: absolute;
    animation: img3 ease 3s infinite;
}

@keyframes img1 {
    from {
        left: 80%;
    }

    to {
        left: 30%;
    }
}

@keyframes img2 {
    from {
        left: 80%;
    }

    to {
        left: 45%;
    }
}

@keyframes img3 {
    from {
        left: 80%;
    }

    to {
        left: 63%;
    }
}

footer {
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ccc7c8;
    margin-top: 2px;
    position: relative;
    height: 50px;
}

footer p {
    text-align: center;
    margin-bottom: 0;
    margin-top: 15px;
}

.footer-top {
    width: 50px;
    position: fixed;
    padding: 10px;
    color: #ed4190;
    bottom: 0;
    right: 0;
}

.footer-icon {
    color: #ed4190;
}

h1 {
    font-family: "Open Sans", "sans-serif";
    font-weight: 300;
    line-height: 34px;
    text-transform: uppercase;
    font-size: 28px;
    color: #f9086d;
    margin-top: 12px;
    margin-bottom: 16px;
    text-align: center;
    position: relative;
}

h1::after {
    content: "";
    width: 200px;
    height: 3px;
    margin-top: 12px;
    margin-bottom: 16px;
    position: absolute;
    left: 50%;
    top: 60%;
    background-image: radial-gradient(#cddc39, #fff);
    transform: translateX(-50%);
}

h2 {
    font-family: "Open Sans", "sans-serif";
    font-weight: 500;
    line-height: 28px;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #f90b6d;
}

h3 {
    font-family: "Open Sans", "sans-serif";
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #f90b6d;
}

.top {
    grid-area: top;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.left1 {
    grid-area: left1;
}

.right1 {
    grid-area: right1;
}

.content-left {
    display: grid;
    grid-template-areas: 'top top top top top top top top top top'
        'left left left left left left left right right right ';
}

.content-right {
    display: grid;
    grid-template-areas: 'top top top top top top top top top top'
        'left left left right right right right right right right';
}

.content-center {
    display: grid;
    grid-template-areas: 'top top top top top top top top top top'
        'left1 left1 left1 left1 left1 right1 right1 right1 right1 right1'
        'left left left left left right right right right right';
}

p {
    margin-top: 0;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    font-size: 18px;
}

.icon-order {
    margin-bottom: 5px;
    width: 100%;
}

.icon-order a {
    text-decoration: none;
}

figure {
    text-align: center;
    width: 24%;
    border: 1px solid #ed4190;
    display: inline-block;
    padding-top: 5px;
    padding-left: 4px;
    margin: 0;
}

figure img {
    width: 100px;
}

figcaption {
    color: #000;
}

.product div {
    border: 1px solid red;
    width: 32%;
    height: 500px;
    margin: 1px;
    display: inline-table;
    text-align: center;
    background-image: linear-gradient(to top, #cddc39 0%, #ffffff 10%);
}

.product {
    text-align: center;
}

span button {
    background-color: #ffffff;
    border: 1px solid black;
}

span input {
    margin: 0px;
}

span p {
    display: inline;
    margin: 1px;
}

span {
    vertical-align: bottom;
}

.product-item p {
    height: 160px;
}