* {
    font-family: "helvetica", "arial", "sans-serif";
}

header {
    background-image: url(../IMAGES/header.png);
    border: 5px solid #ccc7c8;
    margin-bottom: 2px;
}

nav {
    margin-top: 20px;
    grid-area: left-cell;
}

nav a {
    margin: 3px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #ed4190;
    height: 20px;
    background-color: #ffffff80;
    font-size: 17px;
    box-shadow: 0px 0px 3px 0px #00000066;
}

header div {
    text-align: right;
    color: #ed4190;
}

a:hover {
    color: #fff;
    background-color: #ed4190;

}